name: Build and deploy Python app to Azure Web App - healthrecordsystem

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Create and Start virtual environment and Install dependencies
        working-directory: ${{ github.workspace }}
        run: |
          echo "Current working directory: $(pwd)"
          echo "Listing files to confirm requirements.txt exists:"
          ls -al
          python -m venv antenv
          source antenv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            .
            !antenv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_4974D70BE7FE41858D2E3B1AC623E080 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_43ADE54AAECD4134A0DA434C6618F191 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_0A845C485F8046E68F0F37D571E278EE }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'healthrecordsystem'
          slot-name: 'Production'
